<div id="recent-blog" class="container">
  <div id="recent-blog-background" class="blog-container">
    <div class="icon-container icon-secondary">
      <i class="fa fa-quote-left fa-3x"><a class="section-header" href="/articles">Blog</a></i>
    </div>
    <div class="col-md-12 text-center">
      <a href="<%= article_path @articles[0] %>" class="plain-links">
        <% if @articles[0].picture.present? %>
          <%= image_tag @articles[0].picture.url, class: "thing_pic" %>
        <% else %>
          <img class="thing_pic" src="https://s3.amazonaws.com/matthewgyang/images/headshot_square.png" alt="headshot">
        <% end %>
        <h2><%= @articles[0].title %></h2>
        <p><em><%= @articles[0].created_at.strftime("%m-%d-%Y") %></em></p>
      </a>
      <hr class="main-blog-break"/>
    </div>
    <div class="col-md-12 text-center hidden-xs">
      <div class="col-md-4 col-sm-4 secondary-blog">
        <a href="<%= article_path @articles[1] %>" class="plain-links">
          <h4><%= @articles[1].title %></h4>
          <p><em><%= @articles[1].created_at.strftime("%m-%d-%Y") %></em></p>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 secondary-blog">
        <a href="<%= article_path @articles[2] %>" class="plain-links">
          <h4><%= @articles[2].title %></h4>
          <p><em><%= @articles[2].created_at.strftime("%m-%d-%Y") %></em></p>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 secondary-blog">
        <a href="<%= article_path @articles[3] %>" class="plain-links">
          <h4><%= @articles[3].title %></h4>
          <p><em><%= @articles[3].created_at.strftime("%m-%d-%Y") %></em></p>
        </a>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <a href="/articles"><h4><em>More</em></h4></a>
    </div>
  </div>
</div>
