<div id="recent-blog" class="container">
  <h3><a class="section-header" href="/articles">Recent Blog Posts</a></h3>
  <a name="portfolio"></a>
  <% @articles.each do |article| %>
    <div class="col-md-4">
      <div class="thing_container">
          <a href="/articles/<%= article.id %>">
            <% if article.picture.present? %>
              <%= image_tag article.picture.url, class: "thing_pic" %>
            <% else %>
              <img class="thing_pic" src="https://s3.amazonaws.com/matthewgyang/images/headshot_square.png" alt="headshot">
            <% end %>
            <div class='description'>
              <p class='description-content'><%= article.title %></p>
            </div>
            <div class='hover-description'>
              <p class='hover-title'><strong><%= article.title %></strong></p>
              <hr />
              <p><%= article.description %></p>
            </div>
          </a>
      </div>
    </div>
  <% end %>
</div>
