<div class="col-md-12">
  <div class="col-md-6 col-md-offset-3 show_thing">
    <h3><%= @project.name %></h3>
    <% if @project.image_url.present? %>
      <img class="show_pic" src="<%= @project.image_url %>">
    <% else %>
      <img class="show_pic" src="https://s3.amazonaws.com/matthewgyang/images/headshot_med.png" alt="headshot">
    <% end %>
    <h3><strong>Technologies used: </strong><%= @project.technologies_used %></h3>
    <% if current_user && current_user.role == 'editor' %>
      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %> |
      <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <%= markdown(get_readme(@project.source_url)) %>
  </div>
</div>
