<div class="fixed">
  <!-- nav bar left -->
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Matthew G Yang", root_path %></h1></h1>
      </li>
      <!-- menu button on narrow browswer -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- nav bar right menu -->
      <ul class="right">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li class=""><%= link_to "About", '/#about' %></li>
        <li class="has-dropdown">
          <a>Resume</a>
            <ul class="dropdown">
              <li><a href="https://s3.amazonaws.com/matthewgyang/resume/Matthew+G+Yang+-+Resume.pdf" target="_blank">PDF</a></li>
              <li><a href="https://s3.amazonaws.com/matthewgyang/resume/Matthew+G+Yang+-+Resume.doc" target="_blank">Word Doc</a></li>
              <li><a href="https://s3.amazonaws.com/matthewgyang/resume/Matthew+G+Yang+-+Resume.pages.zip" target="_blank">Pages</a></li>
            </ul>
        </li>
        <li class=""><%= link_to "Contact", '/#contact' %></li>
        <!-- <li class=""><%= link_to "Projects", projects_path %></li> -->
        <li class=""><%= link_to "Blog", articles_path %></li>
        <% if current_user.present? %>
          <li class=""><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class=""><%= link_to "Sign Up", new_user_registration_path %></li>
          <li class=""><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
