<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="google-site-verification" content="0e2IkAkKgScT_OMt4gp4IJ8KLLP4CO16MvN5Z5vlC-Y" />

    <title><%= content_for?(:title) ? yield(:title) : "Matthew G Yang" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Arimo|Montserrat' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>

    <%= render 'layouts/flash' %>

    <%= yield %>

  </body>
</html>

